{#
  Copyright (C) 2020 Kondo Taiki

  This file is part of "pgmaster2".

  "pgmaster2" is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  "pgmaster2" is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with "pgmaster2".  If not, see <http://www.gnu.org/licenses/>.

#}{% extends "base.html.jinja2" %}
{% block message %}Select a Commit ID to investigate.{% endblock %}
{% block selections %}
{% if urls is defined and urls is not none %}
<nav style="display: inline-block;"><ul style="list-style-type: none;padding-left: 0;">
  <li style="display: inline-block;">{% if urls.page > 1 %}<a href="{{ urls.prev }}">{% endif %}PREV{% if urls.page > 1 %}</a>{% endif %}</li>
  <li style="display: inline-block;">{% if commits|length == urls.num %}<a href="{{ urls.next }}">{% endif %}NEXT{% if commits|length == urls.num %}</a>{% endif %}</li>
</ul></nav>
{% endif %}
<table border="1" width="100%">
  <tbody>
    <tr>
{% block table_title_head %}{% endblock %}
{% if commits[0].branch is defined %}      <th>Branch</th>{% endif %}
      <th>Commit ID</th>
      <th>Commit Date</th>
      <th>Title</th>
      <th>Author</th>
      <th>Updated</th>
    </tr>
{% for commit in commits %}
    <tr>
{% if commit.branch is defined %}      <td>{{ commit.branch }}</td>{% endif %}
      <td style="font-family:monospace;"><a title="{{ commit.id }}" href="{{ commit.url }}">{{ commit.sid }}</a></td>
      <td style="font-family:monospace;">{{ commit.date }} {% if commit.tz >= 0 %}+{% endif %}{{ commit.tz }}</td>
      <td>{{ commit.summary }}</td>
      <td>{{ commit.author }}</td>
      <td>{{ commit.updated }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% if urls is defined and urls is not none %}
<nav style="display: inline-block;"><ul style="list-style-type: none;padding-left: 0;">
  <li style="display: inline-block;">{% if urls.page > 1 %}<a href="{{ urls.prev }}">{% endif %}PREV{% if urls.page > 1 %}</a>{% endif %}</li>
  <li style="display: inline-block;">{% if commits|length == urls.num %}<a href="{{ urls.next }}">{% endif %}NEXT{% if commits|length == urls.num %}</a>{% endif %}</li>
</ul></nav>
{% endif %}
{% endblock %}
