{#
  Copyright (C) 2020-2022 Kondo Taiki

  This file is part of "pgmaster2".

  "pgmaster2" is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  "pgmaster2" is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with "pgmaster2".  If not, see <http://www.gnu.org/licenses/>.

#}<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>pgmaster2{% block title %}{% endblock %}</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.4.11/vuetify.min.css" integrity="sha512-ALDCcjE3/qN1laPSK0zKyQEXyE1oE1RPAknXgls51YXMHbRiny+jb/GZ1466Xm5Zg8cR5uN8PA2ZsdlPnKnzCA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css" integrity="sha512-vIgFb4o1CL8iMGoIF7cYiEVFrel13k/BkTGvs0hGfVnlbV6XjAA0M0oEHdWqGdAVRTDID3vIZPOHmKdrMAUChA==" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.4.11/vuetify.min.js" integrity="sha512-36v63iCIica4vWLH2YSbz030v65pMUMXL5PXJCJ8+vSF99ME+lJWauL8am5LB39m3SaBinFTzgW0n87INJYo5g==" crossorigin="anonymous"></script>
<div id="app">
  <v-app>
    <v-app-bar
      app
      dark
      color="primary"
    >
      <v-toolbar-title>pgmaster2{{ self.title() }}</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-row>
          <v-col>
            <v-breadcrumbs
              :items="nav_items"
            >
              <template v-slot:divider>
                <v-icon>mdi-chevron-right</v-icon>
              </template>
            </v-breadcrumbs>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <p>{% block message %}{% endblock %}</p>
          </v-col>
        </v-row>
        <v-row>
          <v-col>{% block selections %}{% endblock %}
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</div>
<script>{% if config['DEBUG'] %}
  Vue.config.devtools = true;{% endif %}
  new Vue({
    el: '#app',
    vuetify: new Vuetify({
      theme: {
        themes: {
          light: {
            primary:   '#336791',
            secondary: '#64a3c7'
          }
        }
      }
    }),
    data: {
      nav_items: [
        {
          text: "Top",
          disabled: false,
          href: "{{ url_for('root') }}"
        },{% block navi_items %}{% endblock %}
      ],{% block extra_data %}{% endblock %}
    }
  });
</script>
</body>
</html>
