{#
  Copyright (C) 2020-2024 Kondo Taiki

  This file is part of "pgmaster2".

  "pgmaster2" is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  "pgmaster2" is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with "pgmaster2".  If not, see <http://www.gnu.org/licenses/>.

#}{% extends "frame.html.jinja2" %}
{% block title %} {{ project }} - {{ branch }} - {{ commit.sid }}{% endblock %}
{% block extra_css%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/stackoverflow-light.min.css" integrity="sha256-L+76i0kfkr5WR7T97FBEaxeeyvDBvEY6U6RdNSDXFQ0=" crossorigin="anonymous" referrerpolicy="no-referrer">
{% endblock%}
{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js" integrity="sha256-itEcTLB5u6kxVnJycPUQKS7tzAcWxvIXJQdKWeyLm5Y=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js" integrity="sha256-g3pvpbDHNrUrveKythkPMF2j/J7UFoHbUyFQcFe1yEY=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@highlightjs/vue-plugin@2.1.0/dist/highlightjs-vue.min.js" integrity="sha256-GbaOiylookuXWmORzKdbqIprS3SqZKLtqXjeD/tHivg=" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block toolbar_title %} Investigate: {{ commit.sid }}{% endblock %}
{% block main_contents %}
        <v-row v-once>
          <v-col
            cols="3"
          >
            <v-menu
{% if urls.parents %}
              open-on-hover
{% else %}
              disabled
{% endif %}
            >
              <template v-slot:activator="{ props }">
                <v-btn
                  v-bind="props"
                  color="secondary"
{% if not urls.parents %}
                  disabled
{% endif %}
                >
                  <v-icon icon="mdi-page-previous-outline"></v-icon>
                  Parent
                </v-btn>
              </template>
              <v-list>
{% if urls.parents %}{% for parent in urls.parents %}
                <v-list-item
                  href="{{ url_for('investigate', project = project, branch = branch, commitid = parent.id) }}"
                  prepend-icon="mdi-source-merge"
                >
                  <v-list-item-title>{{ parent.sid }}</v-list-item-title>
                </v-list-item>
{% endfor %}{% endif %}
              </v-list>
            </v-menu>
            <v-menu
{% if urls.children %}
              open-on-hover
{% else %}
              disabled
{% endif %}
            >
              <template v-slot:activator="{ props }">
                <v-btn
                  v-bind="props"
                  color="secondary"
{% if not urls.children %}
                  disabled
{% endif %}
                >
                  <v-icon icon="mdi-page-next-outline"></v-icon>
                  Child
                </v-btn>
              </template>
              <v-list>
{% if urls.children %}{% for child in urls.children %}
                <v-list-item
                  href="{{ url_for('investigate', project = project, branch = branch, commitid = child.id) }}"
                  prepend-icon="mdi-source-fork"
                >
                  <v-list-item-title>{{ child.sid }}</v-list-item-title>
                </v-list-item>
{% endfor %}{% endif %}
              </v-list>
            </v-menu>
          </v-col>
          <v-col
            cols="2"
          >
            <v-btn
              color="primary"
              dark
{% if urls.repo_browser %}
              href="{{ urls.repo_browser }}"
{% else %}
              disabled
{% endif %}
            >
              <v-icon icon="mdi-file-link"></v-icon>
              View Files
            </v-btn>
          </v-col>
          <v-col
            cols="7"
          >
            <!-- Padding -->
          </v-col>
        </v-row>
        <v-row v-once>
          <v-col
            cols="6"
          >
{% if commit.initial %}
             <v-alert
              density="compact"
              elevation="10"
              prominent
              type="warning"
              title="You are viewing a worthless diff."
            >
              Since this is the initial commit, the following diff is worthless.<br />
              Please look at the files directly in {% if urls.repo_browser %}<a href="{{ urls.repo_browser }}">{% endif %}the repository browser{% if urls.repo_browser %}</a>{% endif %}.
            </v-alert>
{% else %}
            <!-- Padding -->
{% endif %}
          </v-col>
          <v-col
            cols="6"
          >
            <v-card
              border="sm"
              variant="flat"
              lines="two"
            >
              <v-card-item prepend-icon="mdi-update">
                <v-card-title class="text-subtitle-1">Last updated</v-card-title>
                <v-card-text>{{ commit.updated }}</v-card-text>
              </v-card-item>
            </v-card>
          </v-col>
        </v-row>
        <v-form
          ref="invest"
          v-model="formValid"
          @submit.prevent="modify"
        >
          <v-row v-once>
            <v-col
              cols="6"
            >
              <v-card
                elevation="4"
                class="overflow-y-auto"
                style="height: 108px"
              >
                <v-card-title
                  class="title text--primary text-wrap"
                >
                  {{ commit.summary }}
                </v-card-title>
              </v-card>
            </v-col>
            <v-col
              cols="6"
            >
              <v-textarea
                v-model="investSNote"
                label="Short note (Title)"
                variant="outlined"
                rows="3"
                clearable
                required
              >
              </v-textarea>
            </v-col>
          </v-row>
          <v-row v-once>
            <v-col
              cols="6"
            >
              <v-card
                elevation="4"
              >
                <v-card-item>
                  <v-card-title class="text-subtitle-1">Author</v-card-title>
                  <v-card-text>{{ commit.author }}</v-card-text>
                </v-card-item>
                <v-card-item>
                  <v-card-title class="text-subtitle-1">Commit Date</v-card-title>
                  <v-card-text>{{ commit.date }} {% if commit.tz >= 0 %}+{% endif %}{{ commit.tz }}</v-card-text>
                </v-card-item>
              </v-card>
            </v-col>
            <v-col
              cols="6"
            >
              <!-- Padding -->
            </v-col>
          </v-row>
          <v-row v-once>
            <v-col
              cols="6"
            >
              <v-card
                elevation="4"
                style="height: 680px"
              >
                <v-tabs
                  v-model="tab"
                  bg-color="secondary"
                  density="compact"
                >
                  <v-tab value="origMessage"><v-icon icon="mdi-message-text"></v-icon>Commit Message</v-tab>
                  <v-tab value="translateMessage" @click="translate"><v-icon icon="mdi-translate"></v-icon>Translate</v-tab>
                </v-tabs>
                <v-card-text>
                  <v-tabs-window v-model="tab" style="height: 600px" class="overflow-y-auto">
                    <v-tabs-window-item value="origMessage">
                      <p v-pre>{{ commit.message }}
                      </p>
                    </v-tabs-window-item>
                    <v-tabs-window-item value="translateMessage">
                      <p style="white-space: pre-wrap;" v-text="translatedMessage"></p>
                    </v-tabs-window-item>
                  </v-tabs-window>
                  <v-progress-linear
                    :active="translateInProgress"
                    :indeterminate="translateInProgress"
                    color="primary"
                    height="10"
                    bottom
                  ></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col
              cols="6"
            >
              <v-textarea
                v-model="investNote"
                label="Note"
                variant="outlined"
                rows="27"
                required
                clearable
              >
              </v-textarea>
            </v-col>
          </v-row>
          <v-row v-once>
            <v-col
              cols="6"
            >
              <v-container
                class="overflow-x-auto overflow-y-auto"
                style="height: 600px;"
              >
                <v-row
                  v-for="(code_diff,i) in diffs"
                  :key="i"
                  dense
                >
                  <v-col>
                    <highlightjs
                      language="diff"
                      :code="code_diff"
                      style="overflow-x: visible; font-size: small;"
                    ></highlightjs>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
            <v-col
              cols="6"
            >
              <v-textarea
                v-model="investAnalysis"
                label="Code Analysis"
                variant="outlined"
                rows="24"
                required
                clearable
              >
              </v-textarea>
            </v-col>
          </v-row>
          <v-row v-once>
            <v-col
              cols="6"
            >
              <!-- Padding -->
            </v-col>
            <v-col
              cols="6"
            >
              <v-combobox
                v-model="investKeywords"
                :items="kwd_items"
                label="Keywords"
                ref="kwdComboBox"
                variant="outlined"
                clearable
                multiple
                chips
              >
              </v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
              v-once
            >
              <!-- Padding -->
            </v-col>
            <v-col
              cols="3"
              v-once
            >
              <v-btn
                href="{{ url_for('search_backpatch', project = project, branch = branch, commitid = commit.id) }}"
              >
                <v-icon>mdi-magnify</v-icon>
                Search Back-patch
              </v-btn>
            </v-col>
            <v-col
              cols="1"
              v-once
            >
              <!-- Padding -->
            </v-col>
            <v-col
              cols="2"
            >
              <v-btn
                :color="btnColor"
                dark
                @click="modify"
                :loading="btnLoading"
              >
                <v-icon>mdi-send</v-icon>
                Submit
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
{% endblock %}

{% block vue_plugins %}
  app.use(hljsVuePlugin);
{% endblock %}

{% block navi_items %}
          {
            title: "{{ project }}",
            disabled: false,
            href: "{{ url_for('project', project = project) }}"
          },
          {
            title: "{{ branch }}",
            disabled: false,
            href: "{{ url_for('branch', project = project, branch = branch) }}"
          },
          {
            title: "{{ commit.sid }}",
            disabled: true,
            href: "#"
          },
{% endblock %}

{% block extra_data %}
      formValid: true,
      tab: null,
      translatedMessage: null,
      diffs: [
{% for diff in commit.diffs %}`{{ diff }}`,
{% endfor %}      ],
      btnColor: 'primary',
      btnLoading: false,
      investSNote: `{{ commit.snote }}`,
      investNote: `{{ commit.note }}`,
      investAnalysis: `{{ commit.analysis }}`,
      investKeywords: {{ commit.keywords }},
      kwd_items: {{ keywords }},
      translateInProgress: false,
{% endblock %}

{% block vue_methods %}
      modify: async function() {
        this.$refs.kwdComboBox.blur();
        this.$nextTick(async () => {
          send_data = {
            snote: this.investSNote,
            note: this.investNote,
            analysis: this.investAnalysis,
            keywords: this.investKeywords
          };

          this.btnLoading = true;
          try {
            res = await axios.post(
              "{{ url_for('webapi_v1.investigate_modify', project = project, branch = branch, commitid = commit.id) }}",
              send_data
            );
            this.btnColor = 'primary';
          }
          catch (error) {
            this.btnColor = 'error';
            console.log(error.response.data);
          }
          finally {
            this.btnLoading = false;
          }
        });
      },
      translate: async function() {
        this.translateInProgress = true;
        try {
          if (this.translatedMessage)
            return;

          res = await axios.get(
            "{{ url_for('webapi_v1.translate_commitlog', project = project, commitid = commit.id) }}",
            null
          )
          jsonMessage = res.data.message;
          this.translatedMessage = jsonMessage;
        }
        catch (error) {
          if (error.response.data && error.response.data.cause) {
            this.translatedMessage = error.response.data.cause;
          } else {
            this.translatedMessage = 'Unknown error occured. Please report this situation to the system administrator.';
            console.log(error.response.data);
          }
        }
        finally {
          this.translateInProgress = false;
        }
      }
{% endblock %}
