{#
  Copyright (C) 2020-2021 Kondo Taiki

  This file is part of "pgmaster2".

  "pgmaster2" is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  "pgmaster2" is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with "pgmaster2".  If not, see <http://www.gnu.org/licenses/>.

#}<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>pgmaster2 {{ project }} - {{ branch }} - {{ commit.sid }}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/stackoverflow-light.min.css" integrity="sha512-cG1IdFxqipi3gqLmksLtuk13C+hBa57a6zpWxMeoY3Q9O6ooFxq50DayCdm0QrDgZjMUn23z/0PMZlgft7Yp5Q==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.4.11/vuetify.min.css" integrity="sha512-ALDCcjE3/qN1laPSK0zKyQEXyE1oE1RPAknXgls51YXMHbRiny+jb/GZ1466Xm5Zg8cR5uN8PA2ZsdlPnKnzCA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css" integrity="sha512-vIgFb4o1CL8iMGoIF7cYiEVFrel13k/BkTGvs0hGfVnlbV6XjAA0M0oEHdWqGdAVRTDID3vIZPOHmKdrMAUChA==" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js" integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/2.4.11/vuetify.min.js" integrity="sha512-36v63iCIica4vWLH2YSbz030v65pMUMXL5PXJCJ8+vSF99ME+lJWauL8am5LB39m3SaBinFTzgW0n87INJYo5g==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js" integrity="sha512-s+tOYYcC3Jybgr9mVsdAxsRYlGNq4mlAurOrfNuGMQ/SCofNPu92tjE7YRZCsdEtWL1yGkqk15fU/ark206YTg==" crossorigin="anonymous"></script>
<script src="/static/vue-highlightjs.js"></script>
<!--
<div style="margin : 2%;">
  <p>Repository Browser Link</p>
  <table>
    <tr>
      <td>abc</td>
      <td><a>Full</a></td>
      <td><a>Diff</a></td>
    <tr>
  </table>
</div>
-->
<div id="app">
  <v-app>
    <v-app-bar
      app
      dark
      color="indigo"
    >
      <v-toolbar-title>pgmaster2 Investigate: {{ commit.sid }}</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <v-container>
        <v-row>
          <v-col>
            <v-breadcrumbs
              :items="nav_items"
            >
              <template v-slot:divider>
                <v-icon>mdi-chevron-right</v-icon>
              </template>
            </v-breadcrumbs>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="6"
          >
            <!-- Padding -->
          </v-col>
          <v-col
            cols="6"
          >
            <v-card
              outlined
            >
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Last updated</v-list-item-title>
                  <v-list-item-subtitle>{{ commit.updated }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
        <v-form
          ref="invest"
          v-mode="formValid"
          @submit.prevent="modify"
        >
          <v-row>
            <v-col
              cols="6"
            >
              <v-card
                outlined
                elevation="4"
                class="overflow-y-auto"
                style="height: 108px"
              >
                <v-card-title
                  class="title text--primary"
                >
                  {{ commit.summary }}
                </v-card-title>
              </v-card>
            </v-col>
            <v-col
              cols="6"
            >
              <v-text-field
                v-model="investSNote"
                label="Short note (Title)"
                height="108"
                outlined
                clearable
                required
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
            >
              <v-card
                outlined
                elevation="4"
              >
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title>Author</v-list-item-title>
                    <v-list-item-subtitle>{{ commit.author }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item two-line>
                  <v-list-item-content>
                    <v-list-item-title>Commit Date</v-list-item-title>
                    <v-list-item-subtitle>{{ commit.date }} {% if commit.tz >= 0 %}+{% endif %}{{ commit.tz }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-card>
            </v-col>
            <v-col
              cols="6"
            >
              <!-- Padding -->
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
            >
              <v-card
                outlined
                elevation="4"
                class="overflow-y-auto"
                style="height: 600px"
              >
                <v-card-text>
                  <p>{{ commit.message }}
                  </p>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col
              cols="6"
            >
              <v-textarea
                v-model="investNote"
                label="Note"
                height="600"
                required
                clearable
                outlined>
              </v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
            >
              <v-container
                class="overflow-x-auto overflow-y-auto"
                style="height: 600px;"
              >
{% for diff in commit.diffs %}
                <v-row
                  dense
                >
                  <v-col>
                    <pre
                      v-highlightjs
                    ><code class="lang-diff" style="overflow-x: visible">{{ diff }}</code></pre>
                  </v-col>
                </v-row>
{% endfor %}
              </v-container>
            </v-col>
            <v-col
              cols="6"
            >
              <v-textarea
                v-model="investAnalysis"
                label="Code Analysis"
                height="600"
                required
                clearable
                outlined>
              </v-textarea>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
            >
              <!-- Padding -->
            </v-col>
            <v-col
              cols="6"
            >
              <v-combobox
                v-model="investKeywords"
                :items="kwd_items"
                label="Keywords"
                ref="kwdComboBox"
                outlined
                clearable
                multiple
                chips
              >
              </v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
            >
              <!-- Padding -->
            </v-col>
            <v-col
              cols="1"
            >
              <v-btn
                href="{{ urls.backpatch }}"
              >
                <v-icon>mdi-magnify</v-icon>
                Search Back-patch
              </v-btn>
            </v-col>
            <v-col
              cols="4"
            >
              <!-- Padding -->
            </v-col>
            <v-col
              cols="1"
            >
              <v-btn
                :color="btnColor"
                dark
                @click="modify"
                :loading="btnLoading"
              >Submit</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-main>
  </v-app>
</div>
<script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      formValid: true,
      btnColor: 'indigo',
      btnLoading: false,
      investSNote: "{{ commit.snote }}",
      investNote: "{{ commit.note }}",
      investAnalysis: "{{ commit.analysis }}",
      investKeywords: {{ commit.keywords }},
      kwd_items: {{ keywords }},
      nav_items: [
        {
          text: "Top",
          disabled: false,
          href: "{{ url_for('root') }}"
        },
        {
          text: "{{ project }}",
          disabled: false,
          href: "{{ url_for('project', project = project) }}"
        },
        {
          text: "{{ branch }}",
          disabled: false,
          href: "{{ url_for('branch', project = project, branch = branch) }}"
        },
        {
          text: "{{ commit.sid }}",
          disabled: true,
          href: "#"
        },
      ],
    },
    methods: {
      modify: async function() {
        this.$refs.kwdComboBox.blur();
        this.$nextTick(async () => {
          send_data = {
            snote: this.investSNote,
            note: this.investNote,
            analysis: this.investAnalysis,
            keywords: this.investKeywords
          };

          this.btnLoading = true;
          try {
            res = await axios.post(
              "{{ url_for('webapi_v1.investigate_modify', project = project, branch = branch, commitid = commit.id) }}",
              send_data
            );
            this.btnColor = 'indigo';
          }
          catch (error) {
            this.btnColor = 'error';
          }
          finally {
            this.btnLoading = false;
          }
        });
      }
    }
  });
</script>
</body>
</html>
