{#
  Copyright (C) 2020-2024 Kondo Taiki

  This file is part of "pgmaster2".

  "pgmaster2" is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  "pgmaster2" is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with "pgmaster2".  If not, see <http://www.gnu.org/licenses/>.

#}{% extends "base_select.html.jinja2" %}
{% block title %} {{ project }}{% endblock %}

{% block message %}Select a branch to investigate.{% endblock %}

{% block list %}
{% for branch in branches %}
                      <v-list-item
                        href="{{ branch.url }}"
                      >
                        <template v-slot:prepend>
                          <v-icon
                            color="deep-orange"
                            icon="mdi-source-branch">
                          </v-icon>
                        </template>
                        <v-list-item-title>{{ branch.name }}</v-list-item-title>
                      </v-list-item>{% endfor %}
{% endblock %}

{% block navi_items %}
          {
            title: "{{ project }}",
            disabled: true,
            href: "#"
          },
{% endblock %}
