{#
  Copyright (C) 2020-2024 Kondo Taiki

  This file is part of "pgmaster2".

  "pgmaster2" is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  "pgmaster2" is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with "pgmaster2".  If not, see <http://www.gnu.org/licenses/>.

#}{% extends "base_search.html.jinja2" %}
{% block title %} {{ project }} - Back-patch {{ commit.sid }}{% endblock %}

{% block navi_items %}
          {
            title: "{{ project }}",
            disabled: false,
            href: "{{ url_for('project', project = project) }}"
          },
          {
            title: "{{ branch }}",
            disabled: false,
            href: "{{ url_for('branch', project = project, branch = branch) }}"
          },
          {
            title: "{{ commit.sid }}",
            disabled: false,
            href: "{{ url_for('investigate', project = project, branch = branch, commitid = commit.id) }}"
          },
          {
            title: "Back-patch",
            disabled: true,
            href: "#"
          }
{% endblock %}
